<template>
  <div class="photoSection">
    <div v-for="photo of photoList" :key="photo.id">
      <div class="card">
        <v-img class="image" :src="'http://localhost/'+ photo.img" height="180" />
        <div class="title">
          {{ photo.title }}
        </div>
        <div class="description">
          {{ photo.description }}
        </div>
        <div class="misc">
          <div>
            <div v-if="photo.featured" class="feature">
              ❤️
            </div>
          </div>
          <div class="date">
            {{ photo.date }}️
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Photo } from '@/model/Photo'

export default {
  name: 'PhotoCard',
  props: {
    photoList: {
      type: [Photo],
      default () {
        return []
      }
    }
  }
}
</script>

<style scoped>
@import './photoCard.css';
</style>
