.photoSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1100px;
  color: grey;
}

.image {
  border-radius: 25px 25px 0 0 ;
}

.card {
  background-color: white;
  width: 320px;
  height: 300px;
  border-radius: 25px;
  margin: 15px;
  position: relative;
}

.title {
  position: absolute;
  color: white;
  top: 130px;
  left: 15px;
  display: inline;
  font-weight: bolder;
}

.description {
  padding: 10px 25px;
  text-align: justify;
}

.misc {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
}

.feature {
  color: deeppink;
  font-size: 18px;
}
