.photographerCard {
  display: flex;
  padding: 50px 60px;
  background-color: white;
  border-radius: 25px;
  color: grey;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1100px;
}

.profilePicture {
  border-radius: 200px;
  flex-grow: 1;
  flex-basis: 200px;
  margin-right: 25px;
}

.profileInfo {
  flex-grow: 4;
  flex-basis: 600px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.profileDetail {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.profileBio {
  flex-grow: 3;
  flex-basis: 300px;
}

.profileContact {
  flex-grow: 1;
  flex-basis: 100px;
}

.profileName {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.profileTitle {
  font-weight: bold;
}

.profileContactText {
  color: deeppink;
}
