<template>
  <div class="photographerCard">
    <v-img
      class="profilePicture"
      :src="'http://localhost/'+ photographer.profile_picture"
      max-height="200"
      max-width="200"
      aspect-ratio="1"
    />
    <div class="profileInfo">
      <div class="profileName">
        {{ photographer.name }}
      </div>
      <div class="profileDetail">
        <div class="profileBio">
          <div class="profileTitle">
            Bio
          </div>
          <div>{{ photographer.bio }}</div>
          <br>
        </div>
        <div class="profileContact">
          <div class="profileTitle">
            Phone
          </div>
          <div class="profileContactText">
            {{ photographer.phone }}
          </div>
          <div class="profileTitle">
            Email
          </div>
          <div class="profileContactText">
            {{ photographer.email }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Photographer } from '@/model/Photographer'

export default {
  name: 'ProfileCard',
  props: {
    photographer: {
      type: Photographer,
      default () {
        return new Photographer()
      }
    }
  }
}
</script>

<style scoped>
@import './profileCard.css';
</style>
