.background {
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/671/655/non_2x/light-gray-blur-background-vector.jpg');

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 9999;
}
