<template>
  <v-app dark>
    <v-main>
      <v-container>
        <Nuxt class="content" />
        <div class="background" />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data () {
    return {}
  }
}
</script>

<style>
@import './default.css';
</style>
