<template>
  <div>
    <p v-if="$fetchState.pending">
      Fetching Photographer...
    </p>
    <p v-else-if="$fetchState.error">
      An error occurred
    </p>
    <div v-else class="photographerPage">
      <profile-card :photographer="photographer" />
      <photo-card :photo-list="photographer.album" />
    </div>
  </div>
</template>

<script>
import { Photographer } from '@/model/Photographer'
import ProfileCard from '@/components/profile/profileCard'
import PhotoCard from '@/components/profile/photoCard'

export default {
  name: 'HomePage',
  components: { PhotoCard, ProfileCard },
  data () {
    return {
      photographer: Photographer
    }
  },
  async fetch () {
    const response = await fetch(
      process.env.backend_host + '/api/photographers/1'
    ).then(res => res.json())

    this.photographer = new Photographer(response)
  }
}
</script>

<style scoped>
@import './index.css';
</style>
